* {
    font-family: Verdana, Arial, Helvetica, sans-serif;

    background-color: #333333;
    color: #CCCCCC;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* settings */

#settings {
    margin: 2rem auto;
}

.input-row {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80vw;
    margin: 1rem auto;
}

.input-row output {
    display: inline-block;
    text-align: center;
    min-width: 2rem;
    margin: 0 1rem;
}

.input-row label {
    text-align: right;
    width: 30%;
    margin: 0.5rem 0;
}

.output-display {
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .input-row {
        flex-wrap: wrap;
    }

    .input-row label {
        width: 100%;
    }

    .output-display {
        width: 80%;
    }

    .input-row label {
        text-align: center;
    }

    .input-row input {
        width: 80vw;
    }
}

/* div containing the two buttons to toggle input type */
.input-type-selection {
    width: 50vw;

    display: flex;
    justify-content: space-around;
}

.input-settings-container {
    margin: 2rem auto;
}

.input-type-selection button,
.input-settings-container button {
    line-height: 2rem;
}

.input-settings-container label {
    line-height: 2rem;
    text-align: center;
}

.input-settings-container textarea {
    min-height: 10vh;
}

.input-settings-container input {
    background-color: #666666;
}

.input-text,
.input-generated {
    display: flex;
    flex-direction: column;
}

/* hide when page is initially loaded. Use flex settings above when displayed. */
.input-generated {
    display: none;
}

.input-generated-row {
    display: flex;
    justify-content: space-between;
}

.input-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
}

#cwPlayerContainer,
#saveSettingsContainer,
#regenerateSettingsContainer {
    display: flex;
    flex-direction: column;
}

#saveSettings,
#regenerateSettings {
    line-height: 2rem;
}

#cwPlayer {
    display: none;
}

.hidden {
    display: none;
}